body {
  background: #f9f8fe54;
}

.App-logo {
  position: relative;
  right: 100px;
  max-width: 100px;
}

div.container {
  text-align: center;
  min-width: 500px;
  max-width: 960px;
  margin: 0 auto;
}

.App-header strong {
  position: relative;
  right: 60px;
  background-color: #fff;
  color: #b6605c;
  font-size: 50px;
}

.main,
.meaning1,
.Synonyms {
  background-color: #f3eceb54 !important;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
  margin: 20px 0;
  color: #c88885;
}

.Synonyms li {
  text-decoration: none;
  display: inline-block;
  padding-right: 15px;
  line-height: 1;
  color: #b6605c;
}

.Photos img {
  border-radius: 4px;
  margin-bottom: 20px;
}
